<app-header></app-header>

<div id="parent-container">
    <div class="inline">
        <div>
            <h2> New member</h2>
        </div>
    </div>
    <div class="go-button">
        <button pButton pRipple type="button" class="p-button-danger">Go</button>
    </div>
</div>
<div id="parent-container">
    <div class="inline">
        <div>
            <h2>Movie Search</h2>
        </div>
    </div>
    <div class="go-button">
        <button pButton pRipple type="button" class="p-button-danger">Go</button>
    </div>
</div>