<div class="mt-3 surface-card p-4 shadow-1 border-round">
    <div class="text-center text-3xl font-medium text-900 mb-3">
        Welcome To IITC Movie Rent Platform
    </div>
</div>

<br>
<p-card>
    <div class="flex blue-container align-items-center justify-content-center">
        <div class="col-4">
            <p class="pl-8 text-3xl flex align-items-center text-blue-500 text-center">New Member</p>
        </div>
        <div class="pt-2 col-2">
            <button pButton type="button" label="Go" class="p-button-danger" routerLink="/member"></button>
        </div>
    </div>

    <div class="flex align-items-center justify-content-center">
        <div class="col-4">
            <p class="pl-8 flex align-items-center text-blue-500 text-3xl w-10 text-center">Movie Search</p>
        </div>
        <div class="pt-2 col-2">
            <button pButton type="button" label="Go" class="p-button-danger" routerLink="/movie"></button>
        </div>
    </div>
</p-card>