<p-card>
    <div class="col-12">
        <div class="align-items-center justify-content-center text-3xl font-medium text-900">
            <p class="text-center">Welcome To IITC Movie Rent Platform <button pButton pRipple type="button"
                    icon="pi pi-user" class="p-button-rounded p-button-info"></button></p>
        </div>
    </div>
</p-card>

<br>
<p-card>
    <div class="flex blue-container align-items-center justify-content-center">
        <div class="col-4">
            <p class="pl-8 text-3xl flex align-items-center text-blue-500 text-center">New Member</p>
        </div>
        <div class="pt-2 col-2">
            <button pButton type="button" label="Go" class="p-button-danger" routerLink="/member" icon="pi pi-angle-double-right"
                iconPos="right"></button>
        </div>
    </div>

    <div class="flex align-items-center justify-content-center">
        <div class="col-4">
            <p class="pl-8 flex align-items-center text-blue-500 text-3xl w-10 text-center">Movie Search</p>
        </div>
        <div class="pt-2 col-2">
            <button pButton type="button" label="Go" class="p-button-danger" routerLink="/movie" icon="pi pi-angle-double-right"
                iconPos="right"></button>
        </div>
    </div>
</p-card>